<a href="https://colab.research.google.com/github/sammieyuen/DataQuest/blob/testbranch/ReadHTML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from unicodedata import normalize

table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota')

In [4]:
print(type(table_MN))

<class 'list'>

In [6]:
table_MN = pd.read_html('https://en.wikipedia.org/wiki/Minnesota', match='Election results from statewide races')
len(table_MN)

1

In [11]:
df = table_MN[0]
df.head()

   Year     Office    GOP    DFL Others
0  2018   Governor  42.4%  53.9%   3.7%
1  2018    Senator  36.2%  60.3%   3.4%
2  2018    Senator  42.4%  53.0%   4.6%
3  2016  President  44.9%  46.4%   8.6%
4  2014   Governor  44.5%  50.1%   5.4%

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    24 non-null     int64
 1   Office  24 non-null     object
 2   GOP     24 non-null     object
 3   DFL     24 non-null     object
 4   Others  24 non-null     object
dtypes: int64(1), object(4)
memory usage: 1.1+ KB